<p>
	ようこそ、NaganoCakeへ！<br>
	このサイトは、ケーキ販売のECサイトになります。<br>
	会員でない方も商品の閲覧はできますが、<br>
	購入には会員登録が必要になります。<br>
</p>

<h1>おすすめ商品</h1>
<!-- 商品画像 -->
<p>商品名</p>
<p>¥0,000</p>

<!-- 商品画像 -->
<p>商品名</p>
<p>¥0,000</p>

<!-- 商品画像 -->
<p>商品名</p>
<p>¥0,000</p>

<!-- 商品画像 -->
<p>商品名</p>
<p>¥0,000</p>

<%= link_to "もっと見る>", customer_products_path %>