<div class="product-container">

  <%= link_to customer_product_path(product.id), class: "btn-link", :style=>"color:#0099FF;" do %>
      <div id="img_field" class="product">
        <%= attachment_image_tag(product, :image, size: "180x130", fallback: "no_image.jpg") %>
      </div>
      <p class="products-name">
        <%= product.name %>
      </p>
  <% end %>

  <% if product.sales_status == true %>
      <%# to_s(:delimited)は自動でカンマで桁区切りを行ってくれる %>
      <p>¥<%= product.price_without_tax.to_s(:delimited) %></p>
      <% elsif product.sales_status == false %>
      <p class="soldout">売り切れ中</p>
  <% end %>

</div>