<div class="container">
  <div class="row">
    <h2 >管理者画面</h2>
  </div>

  <div class="row">
    <div class="today-order", style="margin-top: 80px;">
      <div class="row">
        <div class="col-xs-4">
          <h3>本日の注文件数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to admin_orders_path(order_sort: 0) do %>
            <%= @order_today.count %>
            <% end %>
            件
          </h3>
        </div>
      </div>
    </div>
  </div>

</div>