<div class="container", style="padding-left: 300px">

  <h2>商品編集</h2>

  <div class="row">
    <%= form_for @product, url: admin_product_path, method: :PATCH do |f| %>
      <%= render 'form', product: @product, f: f %>
      <div class="product-form", style="float: right;">
        <%= f.submit "変更を保存", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  
</div>