<div class="container">

  <h2 class="col-xs-3 well text-light">商品一覧</h2>

  <div class="add-product", style="padding: 0 0 30px 950px;">
    <%= link_to new_admin_product_path do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>

  <%= render 'index', products: @products %>

  <div class= "text-center">
    <%= paginate(@products) %>
  </div>
</div>