<div class="container">
  <% if @model == 'product' %>
    <h3>Products search for '<%= @content %>' </h3>
    <%= render 'admin/products/index' , products: @records %> <!--パーシャル作成の場合。@recordsをproductsに渡す。-->
  <% end %>
</div>